body {
    background-color: #f4fff5 ;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.container-fluid-style {

    padding-left: 40px;
    padding-right: 40px;
}


ul, ol {
    list-style: none;
}

#logo { 
    width: 150px;
    height: auto;
   
}

.navbar-bg {
    
    background-color: #ffffff;
}

.navbar-nav .nav-link  {
    font-family: 'Kanit', sans-serif;
    font-weight: 500; 
    font-size: 32px;  
    color: #000000
}

.navbar-nav {
            width: 100%;
        }

.navbar-nav .nav-item {
            width: 20%; /* Divide los elementos en cinco partes (equidistantes) */
            display: flex;
            padding-left: 24px;
        }

.navbar-nav .nav-link {
            display: block;
            text-align: center;
        }


 .custom-toggler {
            margin-right: 40px;
    
 }


#footer {
    padding-top: 80px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #22e63e;
}

       
.menu a {
    font-family: 'Kanit', sans-serif;
    font-weight: 500; 
    font-size: 36px; 
    padding: 24px; 
    color: #000000; 
    text-decoration: none;
        }


.menu {
            list-style: none;
            display: flex; /* ordenar los elementos en una fila */
            flex-wrap: wrap;
            justify-content:center; /* Distribuye los elementos horizontalmente con espacio alrededor */
            align-items: center; /* Alinea verticalmente los elementos al centro */
        }

.footerText a {

    font-family: 'Work sans', sans-serif;
    font-weight: medium; 
    font-size: 16px;
    padding: 24px;
    color: #7c7c7c; /* Cambia a tu color deseado */
    text-decoration: none;
}

.footerText {

    list-style: none;
    background-color: #bfbfbf ;
    display: flex; /* Utiliza Flexbox para ordenar los elementos en una fila */
    flex-wrap: wrap;
    justify-content:center; /* Distribuye los elementos horizontalmente con espacio alrededor */
    align-items: center; /* Alinea verticalmente los elementos al centro */
    padding: 24px;
}

.CTA-button{
    font-family: 'Work sans', sans-serif;
    font-weight: 600;   
    border: none; /* Elimina los bordes */
    background-color: #fff; /* Fondo blanco */
    border-radius: 24px;
    color: #000000; /* Texto verde */
    padding: 8px 16px; /* Ajusta el padding según tus preferencias */
    text-decoration: none;
    display: inline-block; /* Alinea el botón en línea con otros elementos */
    margin: 32px;
}

.CTA-button:hover {
    background-color: #22e63e; /* Cambia el fondo al verde al pasar el ratón */
    color: #fff; /* Cambia el texto a blanco al pasar el ratón */
}


.image-container {
    position: relative;
    overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
    width: 100%; /* Ancho del 100% de la ventana */
    height: 700px; /* Altura fija, ajusta según tus necesidades */

}

.capa-color {
    position: absolute;
    width: 100%; /* Ancho del 100% del contenedor */
    height: 100%; /* Altura del 100% del contenedor */
    top: 0;
    left: 0;
    background-color: #31313180; /* Cambia el color y la opacidad según tus preferencias */
}

.img-responsive {
    width: 100%; /* Cubre todo el ancho del contenedor */
    height: 100%; /* Cubre toda la altura del contenedor */
    object-fit: cover; /* Hace que la imagen se ajuste manteniendo las proporciones y se corte según sea necesario */
    object-position: center center; /* Centra la imagen horizontalmente y corta desde la parte superior */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Color del texto */
}

.text-overlay h1 {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 3.8vw;
}


.responsive-text {
    font-size: 4vw; /* Utiliza un tamaño de fuente relativo al ancho de la pantalla (viewport width) */
}

#text-container {

    size: 4vw;
}
.title {
    font-family: 'Kanit', sans-serif;    
    font-weight: 600;
    font-size: 6vw;
    color: #1f1f1f;
    padding-top: 32px;
    margin: 0px;
}

.title2 {
    font-family: 'Kanit', sans-serif;    
    font-weight: 400;
    font-size: 3.5vw;
    color: #000000;
    padding-top: 24px;
    margin: 0px;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos hijos */
    justify-content: center;

}

.subtitle { 
    font-family: 'Work sans', sans-serif; 
    font-weight: 400;
    font-size: 32px;
    color: #000000;


}

.subtitle2 { 
    font-family: 'Work sans', sans-serif;    
    font-weight: 400;
    font-size: 2vw;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 120px;

}
.body1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color:#000000;

}

.body2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#000000;

}

.description-style {
    padding-top: 4px;

}

.description-title { 

    font-family: 'Work sans', sans-serif; 
    font-weight: 600;
    font-size: 16px;
    color: #000000;

}

.description-body {

    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color:#303030;
}
.label { 
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#454545;

}

.image-work {
    padding-top: 24px;
    display: flex;
    object-fit: cover; 
    width: 100%;
    height: 200px; /* Altura fija, ajusta según tus necesidades */
}



.divider {

    border:none;
    border-top: 2px solid black; /* Establece el estilo de la línea divisora */
    margin: 0px;
    opacity: 100%;

}

.work-item {

    padding-top: 24px;
    padding-bottom: 80px;
}

.image-container-now  {
    position: relative;
    overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
    width: 100%; /* Ancho del 100% de la ventana */
    display: flex;
    align-items: center; /* Centra verticalmente los elementos hijos */
    justify-content: center;
    padding-top: 56px;
}
.img-now {

    width: 17vw;
    height: auto;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);

}

form {
    margin: 40px 20px 100px 20px;
   
}

.form-group {

    padding: 0px 0px 24px 0px;
}

.form-label {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color:#454545;
}

.form-control {
    border-radius: 8px !important; /* Radio del borde */
    border: 2px solid #22e63e !important; /* Borde sólido verde */
    padding: 10px; /* Ajusta el padding según tus preferencias */
    outline: none; /* Elimina el contorno al hacer clic en el input */
}

.form-control::placeholder {
    color: #a8a8a8 !important; /* Color del placeholder */
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;

}
.button-primary {

    font-family: 'Work sans', sans-serif;
    font-weight: 500; 
    font-size: 16px;  
    border: none; /* Elimina los bordes */
    background-color: #22e63e; /* Fondo blanco */
    border-radius: 24px;
    color: #000000; /* Texto verde */
    padding: 8px 16px; /* Ajusta el padding según tus preferencias */
    text-decoration: none;
    margin: 8px;
   

}

.button-secondary {

    font-family: 'Work sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid #22e63e; /* Añade un borde sólido verde */
    border-radius: 24px;
    color: #000000; /* Texto negro */
    padding: 6px 14px;
    background-color: transparent; /* Hace que el fondo sea transparente */
    text-decoration: none;
    margin: 8px;

}


.item-image {

    padding-top: 24px;
    display: flex;
    object-fit: cover; 
    width: 200px;
    height: 300px; /* Altura fija, ajusta según tus necesidades */

}

.content {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.image-container {
    margin-right: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
}

.text-container {
    flex-grow: 1;
}

.subtitle {
    color: #22e63e;
}