.navbar-bg {
    background-color: $background-color;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 24px;

    .nav-link {
        font-family: $family-1;
        font-weight: 400;
        font-size: 24px;
        color: $text-color;
        text-align: center;
    }

    .nav-item {
        display: flex;
        padding: 0px 8px 0px 8px;
       justify-content: left;
    }

    .nav-item-selected{
        display: flex;
        padding: 0px 8px 0px 8px;
       justify-content: left;
       border-bottom: 2px solid $text-option-color;
       
    }
}

ul, ol {
    list-style: none;
}

#logo { 
    width: 100px;
    height: auto;
    padding-left: 24px;
}

.custom-toggler {
    margin-right: 40px;
}