.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container-fluid-style {

    padding-left: 40px;
    padding-right: 40px;

    @media (max-width: 768px) {

    padding-left: 16px;
    padding-right: 16px;
      
    }
}

// Otras reglas de diseño...
