// section presentation home //

.image-container {
    position: relative;
    overflow: hidden; // Oculta cualquier contenido que se desborde del contenedor
    width: 100%; // Ancho del 100% de la ventana
    height: 750px; // Altura fija, ajusta según tus necesidades
    margin-bottom: 40px;

    .capa-color {
        position: absolute;
        width: 100%; // Ancho del 100% del contenedor
        height: 100%; // Altura del 100% del contenedor
        top: 0;
        left: 0;
        background-color: $opacity-color; // Utiliza la variable para el color y la opacidad
    }

    .img-responsive {
        width: 100%; // Cubre todo el ancho del contenedor
        height: 100%; // Cubre toda la altura del contenedor
        object-fit: cover; // Hace que la imagen se ajuste manteniendo las proporciones y se corte según sea necesario
        object-position: center center; // Centra la imagen horizontalmente y corta desde la parte superior
    }

    .text-overlay {
        position: absolute;
        min-width: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; // Color del texto

        h1 {
            margin: 0;
            font-family: $family-1;
            font-weight: 400;

            // Aplica el tamaño de fuente grande para pantallas grandes (desktop)
            font-size: $font-size-lg;

            @media (max-width: 768px) {
                // Aplica el tamaño de fuente pequeño para pantallas pequeñas (mobile)
                font-size: $font-size-sm;
            }
        }

        .responsive-text {
            @media (max-width: 768px) {
                // Ajusta el tamaño de fuente para pantallas pequeñas (mobile)
                font-size: $font-size-sm;
            }
        }
    }
}

// section work //

.work-item {

    a {
        
        text-decoration: none; // Elimina el subrayado del enlace
        color: inherit; // Hereda el color del texto de su elemento padre

    }

    padding: 16px 0px 16px 0px;
}

.image-work {
    display: flex;
    object-fit: cover; 
    width:100%;
    height: 200px; /* Altura fija, ajusta según tus necesidades */
    align-content: center;
    padding-bottom: 12px;
}

.description-style {

padding: 8px 0px 12px 0px;
}

// market section //

.market-item {

    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Alinea los elementos horizontalmente al centro */
    text-align: center; /* Alinea el texto al centro si es necesario */

    .content {
      display: flex;
      align-items: center;
    }
  
    .image-container-market {
        
      img {
        margin-top: 32px;
        display: flex;
        object-fit: cover; 
        width: 100%;
        height: auto;
        border: 12px solid #202020;
      }

      margin-bottom: 16px;
    }
  
    .text-container-market {
      flex-grow: 1;

    }

  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
// section now //

.image-container-now {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 56px;
  
    .img-now {
      width: 240px;
      height: auto;
      object-fit: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      filter: grayscale(100%);

      @media (max-width: 768px) {
        width: 200px;
        height: auto;
    }
    }
  }
  
  .text-container-now {
    padding: 24px 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos horizontalmente al centro */
    text-align: center; /* Alinea el texto al centro si es necesario */
  }
  
// section contact //

form {
    margin: 40px 20px 100px 20px;
}

.form-group {
    padding: 0px 0px 24px 0px;
}

.form-control {
    border-radius: 8px;
    border: 2px solid $background-color;
    padding: 10px;
    outline: none;
}

.form-control::placeholder {
    color: $text-option-color;
    font-family: $family-1;
    font-weight: $font-weight-regular;
    font-size: $font-size-md;
}

// Proyect sections //
.column-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px; /* Ajusta según tus necesidades */
  
    .proyect-image-container {
      img {
        width: 600px;
        height: auto;
      }
    }
  
    .text-container {
      text-align: center; /* Alinea el texto al centro si es necesario */
      max-width: 800px; /* Ajusta según tus necesidades */
    }
  }
.row-container {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: 20px; /* Ajusta según tus necesidades */
  
    .moodboard-image-container {
      img {
        width: 500px;
        height: auto;
      }
    }
  
    .moodboard-text-container {
      text-align: center;
      max-width: 800px; /* Ajusta según tus necesidades */
  
    }
  }
  
  
// Otras reglas para la sección "Now"..