.title {
    font-family: $family-2;
    font-weight: $font-weight-bold;
    font-size: $font-size-xxl;
    color: $title-color;
    padding-top: 32px;
    margin: 0;
}

.title2 {
    font-family: $family-2;    
    font-weight: $font-weight-bold;
    font-size: $font-size-xl;
    color: $title-color;
    padding-top: 24px;
    margin: 0px;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos hijos */
    justify-content: center;

}

.subtitle {
    font-family: $family-1;
    font-weight: $font-weight-regular;
    font-size: $font-size-lg;
    color: $text-color;
    padding: 16px;
}

.subtitle2 { 
    font-family: $family-1;    
    font-weight: $font-weight-regular;
    font-size: $font-size-sm;
   
}

.subtitle3 {

    font-family: $family-1;    
    font-weight: $font-weight-light;
    font-size: $font-size-md;
    padding: 16px;

}

.body1 {
    font-family: $family-1;
    font-weight: $font-weight-light;
    font-size: $font-size-md;
    color: $text-color;
    padding: 8px;
}

.body2 {
    font-family: $family-1;
    font-weight: $font-weight-light;
    font-size: $font-size-sm;
    color: $text-color;
    padding: 8px;
}

.description {
    font-family: $family-1;
    font-weight: $font-weight-light;
    font-size: $font-size-xs;
    color: $text-color;
}

.description-title {
    font-family: $family-1;
    font-weight: $font-weight-regular;
    font-size: $font-size-md;
    color: $text-color;
}

.tag {

    font-family: $family-1;
    font-weight: $font-weight-regular;
    font-size: $font-size-xs;
    color: $text-option-color; 
}

.form-label {
    font-family: $family-1;
    font-weight: $font-weight-bold;
    font-size: $font-size-md;
    color: $text-option-color;
}
// Otras reglas de tipografía...
