.title {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 6vw;
    color: #1f1f1f;
    padding-top: 32px;
    margin: 0;
}

.subtitle {
    font-family: 'Work sans', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: $text-color;
}

.body1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: $text-color;
}

.body2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: $text-color;
}

// Otras reglas de tipografía...
