// Colores //

$background-color: #f7f7f7;
$primary-color: #22e63e;
$secondary-color: #ffffff;
$opacity-color: rgba(57, 57, 57, 0.5);
$text-color: #151515;
$text-option-color: #505050;
$title-color: #151515;

// Sizes//

$font-size-xs: 12px;
$font-size-sm: 16px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 40px;
$font-size-xxl: 54px;
$font-size-max: 80px;

// Fuentes //

$family-1: 'Work Sans', sans-serif;
$family-2: 'Kani', sans-serif;

// weight //

$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-bold: 700;




