@charset "UTF-8";
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.container-fluid-style {
  padding-left: 40px;
  padding-right: 40px;
}

.navbar-bg {
  background-color: #f7f7f7;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 24px;
}
.navbar-nav .nav-link {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #151515;
  text-align: center;
}
.navbar-nav .nav-item {
  display: flex;
  padding: 0px 8px 0px 8px;
  justify-content: left;
}

ul, ol {
  list-style: none;
}

#logo {
  width: 100px;
  height: auto;
  padding-left: 24px;
}

.custom-toggler {
  margin-right: 40px;
}

#footer {
  padding-top: 80px;
  padding-left: 0;
  padding-right: 0;
  background-color: #22e63e;
}

.footerText a {
  font-family: "Work sans", sans-serif;
  font-weight: medium;
  font-size: 16px;
  padding: 24px;
  color: #7c7c7c;
  text-decoration: none;
}

.CTA-button {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: #fff;
  border-radius: 24px;
  color: #151515;
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
  margin: 16px;
  min-width: 100px;
}

.CTA-button:hover {
  background-color: #22e63e;
  color: #fff;
}

.button-primary {
  font-family: "Work sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  background-color: #22e63e;
  border-radius: 24px;
  color: #151515;
  padding: 8px 16px;
  text-decoration: none;
  margin: 8px;
}

.button-secondary {
  font-family: "Work sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: 2px solid #22e63e;
  border-radius: 24px;
  color: #151515;
  padding: 6px 14px;
  background-color: transparent;
  text-decoration: none;
  margin: 8px;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 750px;
}
.image-container .capa-color {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(57, 57, 57, 0.5);
}
.image-container .img-responsive {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.image-container .text-overlay {
  position: absolute;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.image-container .text-overlay h1 {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
}
@media (max-width: 768px) {
  .image-container .text-overlay h1 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .image-container .text-overlay .responsive-text {
    font-size: 16px;
  }
}

.work-item a {
  text-decoration: none;
  color: inherit;
}

.image-work {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px; /* Altura fija, ajusta según tus necesidades */
  align-content: center;
  padding-bottom: 12px;
}

.description-style {
  padding: 8px 0px 12px 0px;
}

.image-container-now {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 56px;
}

.img-now {
  width: 17vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
}

.title {
  font-family: "Kani", sans-serif;
  font-weight: 700;
  font-size: 54px;
  color: #151515;
  padding-top: 32px;
  margin: 0;
}

.title2 {
  font-family: "Kani", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #151515;
  padding-top: 24px;
  margin: 0px;
  display: flex;
  align-items: center; /* Centra verticalmente los elementos hijos */
  justify-content: center;
}

.subtitle {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #151515;
  padding: 16px;
}

.subtitle2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 40px 0px 16px 0px;
}

.body1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #151515;
  padding: 8px;
}

.body2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #151515;
  padding: 8px;
}

.description {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #151515;
}

.description-title {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #151515;
}

.tag {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #505050;
}

form {
  margin: 40px 20px 100px 20px;
}

.form-group {
  padding: 0 0 24px 0;
}

.form-label {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #454545;
}

.form-control {
  border-radius: 8px !important;
  border: 2px solid #22e63e !important;
  padding: 10px;
  outline: none;
}

.form-control::-moz-placeholder {
  color: #a8a8a8 !important;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.form-control::placeholder {
  color: #a8a8a8 !important;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}/*# sourceMappingURL=main.css.map */